@model PaymentHistory

@{
    ViewData["Title"] = "Create New Payment";
}

<h2>Create New Payment</h2>

<form asp-action="CreatePayment" asp-controller="PaymentHistory" method="post" id="AddproductForm">
    <div class="form-group w-50 mt-3">
        <label asp-for="BookingId"></label>
        <select asp-for="BookingId" asp-items="@ViewBag.Bookings" class="form-control mt-2">
            <option value="">-- Select Booking code --</option>
        </select>
        <span asp-validation-for="BookingId" class="text-danger"></span>
    </div>
    <div class="form-group w-50 mt-5">
        <label asp-for="PaidMedium" class="required">Paid Medium</label>
        <div class="col-md-10">
            Cash
            @Html.RadioButtonFor(model => model.PaidMedium, 1)
            Online
            @Html.RadioButtonFor(model => model.PaidMedium, 2)
        </div>
    </div>
    <div class="form-group w-50 mt-3">
        <label asp-for="TotalAmount" class="required">Total Amount</label>
        <input asp-for="TotalAmount" class="form-control" type="text" required min="10" />
        <span asp-validation-for="TotalAmount" class="text-danger"></span>
    </div>

    <div class="form-group  w-50 mt-3">
        <label asp-for="Remark"> Remark</label>
        <textarea asp-for="Remark" class="form-control"></textarea>
        <span asp-validation-for="Remark" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    <a asp-action="GetAllPayments" asp-controller="PaymentHistory" class="btn btn-warning mt-2">Cancel</a>
</form>