<h2 class="mt-4 mb-4 text-warning fw-bolder">Daily Total Bill Amounts</h2>
<div class="d-flex flex-row">
    <div class="flex-grow-1">
        <canvas id="dailyChart" style="max-height: 300px;"></canvas>
    </div>
</div>
