@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> _signInManager

<header>
    <nav class="navbar navbar-expand-lg shadow mb-3" data-bs-theme="dark" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:;">
                <img src="http://cdn.onlinewebfonts.com/svg/img_344004.png" width="50" height="50" alt="">
                <span style="color: #007bff;">Aapna Taxi</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarColor02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="userName">
                            <a  asp-action="" asp-controller="" asp-route-userId="">
                                <img src="https://tse1.mm.bing.net/th?id=OIP.LG6UqvINZmEBMrUzrhADJAHaHa&pid=Api&P=0&h=180" alt="">
                                <span id="LoginName">@User.Identity.Name</span>
                            </a>
                        </div>
                    </li>
                    <form asp-controller="Auth" asp-action="LogOut">
                    <li class="nav-item pt-1">
                   
                            <button class="btn btn-primary" type="submit" >Logout</button>
                    </li>
                    </form>
                   
                </ul>
            </div>
        </div>
    </nav>
</header>