@model TaxiOwner

@{
    ViewData["Title"] = "Create New Taxi Owner";
}

<h2>Create New Taxi Owner</h2>

<form asp-action="AddOwner" asp-controller="TaxiOwner" method="post" class="mb-4" id="AddproductForm" enctype="multipart/form-data">
    <div class="form-group w-50 mt-5">
        <label asp-for="TaxiOwnerName" class="required">Full Name</label>
        <input asp-for="TaxiOwnerName" class="form-control" required />
        <span asp-validation-for="TaxiOwnerName" class="text-danger"></span>
    </div>

    <div class="form-group w-50 mt-3">
        <label asp-for="TaxiOwnerMobile" class="required" >Mobile Number</label>
        <input asp-for="TaxiOwnerMobile" class="form-control" type="number" required min="10" />
        <span asp-validation-for="TaxiOwnerMobile" class="text-danger"></span>
    </div>

    <div class="form-group  w-50 mt-3">
        <label asp-for="TaxiOwnerEmail"> Email</label>
        <input asp-for="TaxiOwnerEmail" class="form-control" type="email" />
        <span asp-validation-for="TaxiOwnerEmail" class="text-danger"></span>
    </div>

    <div class="form-group  w-50 mt-3">
        <label asp-for="TaxiOwnerAddress"> Full Address</label>
        <textarea asp-for="TaxiOwnerAddress" class="form-control"></textarea>
        <span asp-validation-for="TaxiOwnerAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Filename" class="control-label mt-3">Upload your ID proof</label>
        <span class="text-danger">(only upload .pdf .jpg .jpeg .png with max size 1MB)</span>
        <input asp-for="Filename" type="file" class="form-control w-25 mt-1" id="fileInput" />
        <span asp-validation-for="Filename" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Register</button>
    <a asp-action="Index" asp-controller="TaxiOwner" class="btn btn-warning mt-2">Cancel</a>
</form>