@model Taxi_Booking_Management.DtoModels.EditBookingViewModel;

@{
    ViewData["Title"] = "Update booking Details";
    var minDate = Model.fromDate.ToString("yyyy-MM-dd");
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
</head>
<h2>Update booking Details</h2>
<form asp-action="EditBooking" asp-controller="Booking" method="post" class="mb-4">
    <input asp-for="BookingId" class="form-control mt-2" type="hidden" />
    <div class="form-group w-50 mt-3">
        <label asp-for="TaxiId" class="required">Taxi name</label>
        <select asp-for="TaxiId" asp-items="@Model.TaxiNames" class="form-control mt-2" id="taxiNameSelect">
            <option value="">-- Select Taxi --</option>
        </select>
        <span asp-validation-for="TaxiId" class="text-danger"></span>
    </div>

    <div class="form-group w-50 mt-3">
        <label asp-for="DriverId" class="required">Driver name</label>
        <select asp-for="DriverId" asp-items="@Model.DriverName" class="form-control mt-2" id="driverNameSelect">
            <option value="">-- Select Driver --</option>
        </select>
        <span asp-validation-for="DriverId" class="text-danger"></span>
    </div>

    <div class="form-group w-50 mt-3">
        <label asp-for="fromDate" class="required">From Date</label>
        <input asp-for="fromDate" type="date" min="@minDate" class="form-control mt-2" />
        <span asp-validation-for="fromDate" class="text-danger"></span>
    </div>

    <div class="form-group w-50 mt-3">
        <label asp-for="toDate" class="required">To Date</label>
        <input asp-for="toDate" type="date" class="form-control mt-2" />
        <span asp-validation-for="toDate" class="text-danger"></span>
    </div>

    <div class="form-group w-50 mt-3">
        <label asp-for="CustomerName" class="required">Customer Name</label>
        <input asp-for="CustomerName" class="form-control mt-2" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>

    <div class="form-group w-50 mt-3">
        <label asp-for="CustomerMobile" class="required">Customer Mobile</label>
        <input asp-for="CustomerMobile" class="form-control mt-2" />
        <span asp-validation-for="CustomerMobile" class="text-danger"></span>
    </div>

    <div class="form-group w-50 mt-3">
        <label asp-for="FromLocation" class="required">From Location</label>
        <input asp-for="FromLocation" class="form-control mt-2" />
        <span asp-validation-for="FromLocation" class="text-danger"></span>
    </div>

    <div class="form-group w-50 mt-3">
        <label asp-for="ToLocation" class="required">To Location</label>
        <input asp-for="ToLocation" class="form-control mt-2" />
        <span asp-validation-for="ToLocation" class="text-danger"></span>
    </div>

    <div class="form-group w-50 mt-3">
        <label asp-for="GrossAmount" class="required">Gross Amount</label>
        <input asp-for="GrossAmount" class="form-control mt-2" />
        <span asp-validation-for="GrossAmount" class="text-danger"></span>
    </div>

    <div class="form-group w-50 mt-3">
        <label asp-for="TotalGST" class="required">Total GST percentage</label>
        <input asp-for="TotalGST" class="form-control mt-2" min="1" max="100" type="number" />
        <span asp-validation-for="TotalGST" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary mt-2">Update</button>
    <button asp-action="Index" asp-controller="Booking" class="btn btn-warning mt-2">Cancel</button>
</form>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {



            $('#taxiNameSelect').select2({
                placeholder: "-- Select Taxi --",
                allowClear: true,
                width: '100%'
            });

            $('#driverNameSelect').select2({
                placeholder: "-- Select Driver --",
                allowClear: true,
                width: '100%'
            });


            $("#fromDate").change(function () {
                var selectedDate = $(this).val();
                $("#toDate").attr("min", selectedDate);
            });
        });

    </script>
}
